<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Gestion Productos - Minimarket</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
	<link rel="icon" type="image/png" href="/images/logo.png" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<style>
		.inactive {
			display: none;
		}

		.active {
			display: initial;
		}

		.hidden {
			display: none;
		}
	</style>
</head>

<body>
	<div th:replace="~{componentes/header :: header}"></div>

	<form th:action="@{/gestion-productos/guardar}" method="post" th:object="${nuevoProducto}" novalidate
		class="container">
		<div class="row">
			<h1 class="my-4">Gestión de Productos</h1>
			<div class="col-6">
				<input type="hidden" th:field="*{idProducto}" />

				<label class="form-label" for="cantidad">Cantidad:</label>
				<input class="form-control" id="cantidad" type="number" th:field="*{cantidad}" required><br>

				<label class="form-label" for="fechaVenc">Fecha de Vencimiento:</label>
				<input class="form-control" id="fechaVenc" type="text" th:field="*{fechaVenc}" placeholder="dd/mm/yy"
					required><br>

				<label class="form-label" for="marca">Marca:</label>
				<input class="form-control" id="marca" type="text" th:field="*{marca}" required><br>

				<label class="form-label" for="nombre">Nombre:</label>
				<input class="form-control" id="nombre" type="text" th:field="*{nombre}" required><br>
			</div>
			<div class="col-6">
				<label class="form-label" for="precio">Precio:</label>
				<input class="form-control" id="precio" type="number" step="0.01" th:field="*{precio}" required><br>

				<label class="form-label" for="image">Imagen:</label>
				<input class="form-control" type="text" id="image" th:field="*{image}" required><br>

				<label for="tipoProducto" class="form-label">Tipo de Producto:</label> <a
					th:href="@{/registro/tipoProducto}" class="btn btn-primary btn-sm mx-2">Nuevo</a>
				<select class="form-select" id="tipoProducto" name="tipoProducto" th:field="*{tipoProd.idTipoProducto}"
					required="required">
					<option th:each="tipoProducto : ${tiposProducto}" th:value="${tipoProducto.idTipoProducto}"
						th:text="${tipoProducto.nombreTipoProducto}"></option>
				</select><br>

				<label for="proveedores" class="form-label">Proveedor:</label> <a
					th:href="@{/gestion-proveedores}" class="btn btn-primary btn-sm mx-2">Nuevo</a>
				<select class="form-select" id="proveedores" name="proveedores" th:field="*{proveedor.idprove}"
					required="required">
					<option th:each="proveedor : ${proveedores}" th:value="${proveedor.idprove}"
						th:text="${proveedor.nombre}"></option>
				</select><br>
			</div>
		</div>
		<div class="row my-4">
			<div class="col-12">
				<button style="width: 100%;" class="btn btn-success" type="submit">Guardar Producto</button>
				<p style="width: 100%; margin: 1em 0;" id="mensaje" class="badge text-bg-danger hidden"
					th:text="${mensaje}">
				</p>
			</div>
		</div>
	</form>

	<div class="container-xxl">
		<div class="row">
			<div class="col-12">
				<table class="table">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Fecha de Vencimiento</th>
						<th scope="col">Marca</th>
						<th scope="col">Nombre</th>
						<th scope="col">Precio</th>
						<th scope="col">URL Imagen</th>
						<th scope="col">Tipo</th>
						<th scope="col">ID Proveedor</th>
						<th scope="col">Acciones</th>
					</tr>
					<tr th:each="producto : ${productos}">
						<td scope="row" th:text="${producto.idProducto}"></td>
						<td th:text="${producto.cantidad}"></td>
						<td th:text="${producto.fechaVenc}"></td>
						<td th:text="${producto.marca}"></td>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.precio}"></td>
						<td style="max-width: 300px; overflow: hidden;" th:text="${producto.image}"></td>
						<td th:text="${producto.tipoProd.idTipoProducto}"></td>
						<td th:text="${producto.proveedor.idprove}"></td>
						<td>
							<a class="btn btn-primary"
								th:href="@{'/gestion-productos/editar/' + ${producto.idProducto}}">Editar</a>
							<a class="btn btn-danger"
								th:href="@{'/gestion-productos/eliminar/' + ${producto.idProducto}}">Eliminar</a>
						</td>
					</tr>
				</table>
				<nav>
					<ul class="pagination">
						<li class="page-item" th:each="pagina:${paginas}">
							<a class="page-link" th:href="@{/gestion-productos?pagina={p}(p=${pagina})}" th:text="${pagina}"></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	

	<script>

		document.addEventListener("DOMContentLoaded", function () {
			//Submenu
			const userMenu = document.querySelector("#userAccount");
			const menuNav = document.querySelector("#submenuAccount");
			//Menu Principal
			const categoriasMenu = document.querySelector("#menuCategorias");
			const categoriasNav = document.querySelector("#menuPrincipal");

			if (userMenu) {
				userMenu.addEventListener("click", () => {
					menuNav.classList.toggle("active");
				});

				document.addEventListener("click", (event) => {
					if (!userMenu.contains(event.target) && !menuNav.contains(event.target)) {
						menuNav.classList.remove("active");
					}
				});
			}

			if (categoriasMenu) {
				categoriasMenu.addEventListener("click", () => {
					categoriasNav.classList.toggle("active");
				});

				document.addEventListener("click", (event) => {
					if (!categoriasMenu.contains(event.target) && !categoriasNav.contains(event.target)) {
						categoriasNav.classList.remove("active");
					}
				});
			}

		});

	</script>
	<script th:inline="javascript">
		var mensajeElement = document.getElementById('mensaje');

		mensajeElement.classList.remove('hidden');

		setTimeout(function () {
			mensajeElement.classList.add('hidden');
		}, 3000);
	</script>
	<script src="../static/js/bootstrap.js"></script>
</body>

</html>